<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React Isomorphic Boilerplate</title>
</head>
<body>
<div id="Root">{{{html}}}</div>

<script>
  window.__PRELOADED_STATE__ = {{{preloadedState}}};
</script>
</body>
</html>
